[submodule "maple/navigation/--forcce"]
	path = maple/navigation/--forcce
	url = git@github.com:LukeAnger1/PythonRobotics.git
[submodule "maple/navigation/PythonRobotics"]
	path = maple/navigation/PythonRobotics
	url = git@github.com:LukeAnger1/PythonRobotics.git
